{include file="public:header" /}
{include file="public:menu" /}
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">

            <ol class="breadcrumb w_breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">关于我</li>
                <span class="w_navbar_tip">像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
            </ol>

            <div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
                <div class="about">
                    <h2>Just about me</h2>
                    <ul>
                        <p>空白，不代表没有，只是因为还未准备好。。。</p>
                        <!--<p>看了很多博主的帖子，我深受鼓舞。想到自己当年大学刚入学，老师要求我们几人一组做一个网站。那个时候我们都是0基础，很多人傻乎乎的不知如何入手。时间是一个月的时间，我几乎是天天泡在图书馆，晚上11点宿舍断电，我就抱着电脑去旁边的咖啡厅通宵。没用20天的时间，我一个人，几乎看扁了所有图书馆有关PS，DW，FLASH等的书籍，粗糙的做出了属于自己的第一个网站。虽然不是那么整齐，也不是那么美观，但是我一个人做到了，老师也很惊讶。大学毕业后各种压力让我不得不放弃当初的梦想。工作碌碌无为，不是没有精神，而是觉得自己只是一个喘气的人，而不是一个为了一个目标而活着的人。几次拿起早就尘封了多年的网站设计类书本，但是迫于生活无奈又放下。多少次纠结。直到今天无意中看到博主的文章，让我心里一震。一辈子也就是几十年的时间吧，如果不能把自己无限的精力投入到有限的青春中，追寻自己的梦，那么活着和喘气又有什么区别</p>-->
                    </ul>
                    <h2>About my blog</h2>
                    <ul>
                        <!--<p>域  名：www.wfyvv.com 创建于2017年02月02日 <a href="/" class="blog_link" target="_blank">注册域名</a></p>-->
                        <!--<p>服务器：腾讯云服务器<a href="/" class="blog_link" target="_blank">购买空间</a></p>-->
                        <!--<p>备案号：***************</p>-->
                    </ul>
                </div>
            </div>
            <!--<div class="col-lg-3 col-md-3 w_main_right">
                <div class="about_c">
                    <p>昵称：<span>wilco</span> | 即步非烟</p>
                    <p>姓名：王风宇 </p>
                    <p>生日：1991-03-07</p>
                    <p>邮箱：wfyv@qq.com</p>
                    <p>籍贯：安徽省—六安市</p>
                    <p>现居：合肥市—蜀山区</p>
                    <p>职业：JavaWeb开发</p>
                </div>
            </div>-->


        </div>
    </div>
</div>
{include file="public:footer" /}