{include file="public:header" /}
{block name="centent"}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">管理员管理</a>
        <a>
          <cite>管理员列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加管理员','{:url("user/add")}',600,600)"><i class="layui-icon"></i>添加管理员</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <!--<th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>-->
            <th>ID</th>
            <th>用户名</th>
            <th>角色</th>
            <th>状态</th>
            <th>邮箱</th>
            <th>登录时间</th>
            <th>登录IP</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {empty name="$users"}
        <tr>
            <td colspan="8" style=" text-align:center;">
                暂无管理员
            </td>
        </tr>
        {else /}
        {volist name="$users" id="vo"}
        <tr>
            <!--<td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>-->
            <td>{$vo.id}</td>
            <td>{$vo.uname}</td>
            <td>{$vo.role_name}</td>
            <td>{$vo.status?'禁用':'正常'}</td>
            <td>{$vo.email}</td>
            <td>{$vo.last_login_time}</td>
            <td>{$vo.last_login_ip}</td>
            <td class="td-manage">
                <a title="{$vo.uname}角色设置"  onclick="x_admin_show('{$vo.uname}--角色设置','{:url("authority/role_setting",['id'=>$vo.id])}',600,600)" href="javascript:;"><i class="layui-icon">&#xe716;</i></a>
                <a title="删除" onclick="member_del(this,{$vo.id})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        {/empty}
        </tbody>
    </table>
</div>
{/block}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                type: "POST",
                url: "{:url('user/delete')}",
                data: {id:id},
                dataType: "json",
                success: function(data){
                    if (data.code) {
                        $(obj).parents("tr").remove();
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>